---
- name: setup cloudera repo
  yum_repository:
    name: clouderaManager
    description: cloudera-manager
    baseurl: https://archive.cloudera.com/cm6/6.1.1/redhat7/yum/
    gpgkey: https://archive.cloudera.com/cm6/6.1.1/redhat7/yum/RPM-GPG-KEY-cloudera
    gpgcheck: 1
    enabled: 1
- name: inport GPG keys for cloudera
  command: sudo rpm --import https://archive.cloudera.com/cm6/6.1.0/redhat7/yum/RPM-GPG-KEY-cloudera

- name: update packages
  command: yum update -y
